* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #222;
  overflow-x: hidden;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

section {
  width: 100%;
}

.container {
  width: 92%;
  max-width: 1400px;
  margin: auto;
}